/* Chessboard Layout CSS */
html {
  /* background-color: black; */
}

.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #000;
  background-color: #f0d9b5;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.row {
  display: flex;
  width: 100%;
}

.square {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #837575;
  transition: transform 0.3s, border 0.3s;
}

.square:hover {
  transform: scale(1.1);
  border: 2px solid green;
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

.selected {
  transform: scale(1.1);
  border: 2px solid red;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.valid-move {
  color: lightgreen;
}

.light-square {
  background-color: #f0d9b5;
  background-image: radial-gradient(#f0d9b5 50%, transparent 100%);
  background-size: 50px 50px;
}

.dark-square {
  background-color: #b58863;
  background-image: radial-gradient(#b58863 50%, transparent 100%);
  background-size: 50px 50px;
}

.piece {
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.piece-white {
  color: #f9f9f9;
}

.piece-black {
  color: #000;
}

.turn-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.captured-pieces {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.captured-pieces span {
  margin: 0 10px;
}

.captured-pieces-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.captured-pieces-container {
  display: flex;
  justify-content: center;
}

.captured-pieces-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* Display the captured pieces in a column */
  align-items: center;
  width: 200px;
}

.captured-piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.captured-piece.piece-white {
  color: #f9f9f9;
  background-color: #000;
}

.captured-piece.piece-black {
  color: #000;
  background-color: #f9f9f9;
}

.divider {
  height: auto;
  width: 5px;
  background-color: rgb(143, 143, 143);
  margin: -10px 10px;
}
